
.main_header {
    width: 75vw;
    font-weight: bold;
    color: #272343;
    font-size: 1.5rem;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    align-items: center;
    text-transform: uppercase;
    /* background-color: rgba(255, 0, 0, .2); */
}
.main_header h1 {
    display: inline;
    background-color:#ffd803;
    padding: 15px;
    
}
.main_header ul {
    display: flex;
}
.main_header li {
    font-size: 1rem;
    display: inline;
}
.main_header ul a {
    text-decoration: none;
    color: #272343;
    padding: 15px;
    transition: 0.15s;
}
.main_header ul a:hover {
    color: #272343;
    background-color: #ffd803;
    transition: 0.15s;
}
.main_header h1 a {
    text-decoration: none;
    color: #272343;
    transition: 0.3s;
}
.main_header h1 a:hover {
    color: #272343;
    margin-left: 25px;
    transition: 0.15s;
}
.generation_header {
    text-align: center;
}
main {
    width: 75vw;
    height: 80vh;
    margin-top: 5px;
    justify-content: center;
}
main p {
    text-align: center;
}
.generation_content {
    color: red;
    display: block;
    border: 1px solid rgba(0,0,0,0.1);
    height: 95%;
    margin-bottom: 25px;
    padding: 45px 25px 25px 25px;
}
.generation_content h2 {
    display: inline;
    color: #272343;
    font-size: 2rem;
    font-weight: bold;
    
}